<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
            <li class="list-inline-item">
                <a routerLink="/about-us">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
            </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; All rights reserved to CemAir</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                    <a href="https://www.facebook.com/flycemair" target="_blank">
                    <i class="fab fa-facebook-f fa-2x fa-fw"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="https://twitter.com/flycemair" target="_blank">
                    <i class="fab fa-twitter fa-2x fa-fw"></i>
                    </a>
                </li>                
                <li class="list-inline-item">
                    <a href="https://plus.google.com/114730944972715167155" target="_blank">
                    <i class="fab fa-google-plus fa-2x fa-fw"></i>
                    </a>
                </li>                           
            </ul>
        </div>
        </div>
    </div>
</footer>