<!-- <div class="backdrop"> -->
    <div class="container-fluid about-container">
        <div class="jumbotron">           
            <h2 class="text-center">Our Fleet</h2>   
            <hr>                        
            <div class="alert alert-success alert-dismissible fade show mt-4 text-center" role="alert">
                <strong>Click on an aircraft</strong> for more information.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>                             
            <div class="row mt-5">
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#crj900" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="card-img-top" src="/assets/images/fleet/bombardier-crj-900.jpg" alt="Card image cap">
                        <div class="collapse" id="crj900">
                            <div class="card-body">
                                <div class="card-title"><b>Bombardier CRJ-900</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turbofan engines: 14255 lbs thrust<br>
                                        General Electric: CF34-8C5<br>
                                        Pressurized cabin class: 4 Crew 90 Passengers<br>
                                    </p>
                                    <p>
                                        Maximum Speed: Mach 0.82 / 871 km/h<br>
                                        Average Cruise: Mach 0.78 / 829 km/h<br>
                                        Noise Level (Take off): 83.9 dB<br>
                                    </p>
                                    <p>
                                        Maximum Operating Altitude: 41 000’<br>
                                        Max climb rate: 3000’ per min<br>
                                        Single engine climb rate: 1200’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 19450lbs / 11670 litres<br>
                                        Average fuel Consumption: 1500 litres per hour<br>
                                        Maximum range: 1350nm / 2956km<br>
                                    </p>
                                    <p>
                                        Minimum take off run: 1778 meters<br>
                                        Minimum landing run: 1596 meters<br>
                                    </p>
                                    <p>
                                        Ramp Weight: 80750 lbs / 36620 kg<br>
                                        Empty Weight: 47443 lbs / 21516 kg<br>
                                        Payload: 22750 lbs / 10319 kg<br>
                                    </p>
                                    <p>
                                        Wing Span: 81’ 7” / 24.9 meters<br>
                                        Length: 119’ 4” / 36.4 meters<br>
                                        Height: 24’ 7” / 7.5 meters<br>
                                    </p>     
                                    <p>
                                        Cargo door size: 33”x43” / 0.84x1.1 meters<br>
                                        Cabin height internal: 6’2” / 1.89 meters<br>
                                    </p>
                                    <p>
                                        Equipment:
                                    </p>
                                    <ul>
                                        <li>Collins Pro Line 4</li>
                                        <li>6 screen EFIS</li>      
                                        <li>IFR GPS</li>
                                        <li>Digital Colour Radar</li>
                                        <li>Dual Attitude heading reference system. (AHRS)</li>
                                        <li>Radar Altitude</li>
                                        <li>406 ELT</li>
                                        <li>TCAS II</li>
                                        <li>Flight data recorder</li>
                                        <li>Cockpit voice recorder</li>
                                        <li>Enhanced Ground Proximity Warning System</li>
                                        <li>Satellite Tracking</li>
                                        <li>Known Ice</li>
                                        <li>Auxiliary Power Unit (APU)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#crj100" role="button" aria-expanded="false" aria-controls="crj100">
                        <img class="card-img-top" src="/assets/images/fleet/bombardier-crj-100:200.jpg" alt="Card image cap">
                        <div class="collapse" id="crj100">
                            <div class="card-body">
                                <div class="card-title"><b>Bombardier CRJ-100/200</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turbofan engines: 9220 lbs thrust<br>
                                        General Electric: CF34-3A1<br>
                                        Pressurized cabin class: 3 Crew 50 Passengers<br>
                                    </p>
                                    <p>
                                        Maximum Speed: Mach 0.81 / 860 km/h<br>
                                        Average Cruise: Mach 0.74 / 785 km/h<br>
                                        Noise Level (Take off): 77.7 dB<br>
                                    </p>     
                                    <p>
                                        Maximum Operating Altitude: 41 000’<br>
                                        Max climb rate: 3000’ per min<br>
                                        Single engine climb rate: 1200’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 14305lbs / 8583 litres<br>
                                        Average fuel Consumption: 1500 litres per hour<br>
                                        Maximum range: 1946nm / 3620km<br>
                                    </p>
                                    <p>
                                        Minimum take off run: 1918 meters<br>
                                        Minimum landing run: 1479 meters<br>
                                    </p>
                                    <p>
                                        Ramp Weight: 53250 lbs / 23247 kg<br>
                                        Empty Weight: 30900 lbs / 14016 kg<br>
                                        Payload: 13100 lbs / 5942 kg<br>
                                    </p>
                                    <p>
                                        Wing Span: 69’ 7” / 21.2 meters<br>
                                        Length: 87’ 10” / 26.8 meters<br>
                                        Height: 24’ 5” / 6.2 meters<br>
                                    </p>
                                    <p>
                                        Cargo door size: 33”x43” / 0.84x1.1 meters<br>
                                        Cabin height internal: 6’1” / 1.85 meters<br>
                                    </p>     
                                    <p>
                                        Equipment:
                                    </p>          
                                    <ul>   
                                        <li>Collins Pro Line 4</li>
                                        <li>6 screen EFIS</li>
                                        <li>IFR GPS</li>
                                        <li>Digital Colour Radar</li>
                                        <li>Dual Attitude heading reference system. (AHRS)</li>
                                        <li>Radar Altitude</li>
                                        <li>406 ELT</li>
                                        <li>TCAS II</li>
                                        <li>Flight data recorder</li>
                                        <li>Cockpit voice recorder</li>
                                        <li>Enhanced Ground Proximity Warning System</li>
                                        <li>Satellite Tracking</li>
                                        <li>Known Ice</li>
                                        <li>Auxiliary Power Unit (APU)</li>
                                    </ul>                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#dash8Q400" role="button" aria-expanded="false" aria-controls="dash8Q400">
                        <img class="card-img-top" src="/assets/images/fleet/bombardier-dash-8-q400.jpg" alt="Card image cap">
                        <div class="collapse" id="dash8Q400">
                            <div class="card-body">
                                <div class="card-title"><b>Bombardier Dash 8-Q400</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turboprop engine: 5071 SHP per engine<br>
                                        Free turbine, reverse flow: PW150A<br>
                                        Pressurized cabin class: 4 Crew 78 Passengers<br>
                                    </p>
                                    <p>
                                        Maximum Speed: 360 knots / 667 km/h<br>
                                        Average Cruise: 322 knots / 596 km/h<br>
                                        Minimum stall speed: 92 knots / 170 km/h<br>
                                    </p>
                                    <p>
                                        Maximum Operating Altitude: 25 000’<br>
                                        Max climb rate: 2500’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 11644lbs / 6616 litres<br>
                                        Maximum range: 1360nm / 2520km<br>
                                    </p>
                                    <p>
                                        Minimum take off run: 1425 meters<br>
                                        Minimum landing run: 1289 meters<br>
                                    </p>
                                    <p>
                                        Ramp Weight: 64700 lbs / 29347 kg<br>
                                        Empty Weight: 37886 lbs / 17185 kg<br>
                                        Payload: 19114 lbs / 8670 kg<br>
                                    </p>
                                    <p>
                                        Wing Span: 93’ 3” / 28.4 meters<br>
                                        Length: 107’ 9” / 32.8 meters<br>
                                        Height: 27’ 5” / 8.4 meters<br>
                                    </p>
                                    <p>
                                        Cargo door size LH Aft: 60”x55” / 1.52x1.40 meters<br>
                                        Cargo door size RH Fwd: 59”x28” / 1.45x0.71 meters<br>
                                        Cabin height internal: 6’5” / 1.95 meters<br>
                                    </p>
                                    <p>
                                        Seat pitch: 31”<br>
                                        Seat width: 17”<br>
                                    </p>
                                    <p>
                                        Equipment:
                                    </p>
                                    <ul>
                                        <li>Overhead luggage stowage</li>
                                        <li>Forward Galley</li>
                                        <li>Colour Radar</li>
                                        <li>Thales System, 5 Screen EFIS/EICAS</li>
                                        <li>UNS-1 E FMS</li>
                                        <li>TCAS II v7.1</li>                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#dash8Q300" role="button" aria-expanded="false" aria-controls="dash8Q300">
                        <img class="card-img-top" src="/assets/images/fleet/bombardier-dash-8-q300.jpg" alt="Card image cap">
                        <div class="collapse" id="dash8Q300">
                            <div class="card-body">
                                <div class="card-title"><b>Bombardier Dash 8-Q300</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turboprop engine: 1800 SHP per engine<br>
                                        Free turbine, reverse flow: PW123A<br>
                                        Pressurized cabin class: 3 Crew 50 Passengers<br>
                                    </p>
                                    <p>
                                        Maximum Speed: 295 knots / 545 km/h<br>
                                        Average Cruise: 260 knots / 480 km/h<br>
                                        Minimum stall speed: 78 knots / 144 km/h<br>
                                    </p>
                                    <p>
                                        Maximum Operating Altitude: 25 000’<br>
                                        Max climb rate: 2500’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 5678lbs / 3210 litres<br>
                                        Average fuel Consumption: 450 litres per hour<br>
                                        Maximum range: 1107nm / 2050km<br>
                                    </p>
                                    <p>
                                        Minimum take off run: 1150 meters<br>
                                        Minimum landing run: 550 meters<br>
                                    </p>
                                    <p>
                                        Ramp Weight: 43000 lbs / 19500 kg<br>
                                        Empty Weight: 25995 lbs / 11791 kg<br>
                                        Payload: 11327 lbs / 5138 kg<br>
                                    </p>
                                    <p>
                                        Wing Span: 90’ / 27.4 meters<br>
                                        Length: 84’ 3” / 25.7 meters<br>
                                        Height: 24’ 7” / 7.5 meters<br>
                                    </p>
                                    <p>     
                                        Cargo door size: 77”x97” / 1.96x2.46 meters<br>
                                        Cabin height internal: 6’1” / 1.83 meters<br>
                                    </p>
                                    <p>
                                        Seat pitch: 31”<br>
                                        Seat width: 17”<br>                                    
                                    </p>
                                    <p>
                                        Equipment:
                                    </p>
                                    <ul>
                                        <li>Overhead luggage stowage</li>
                                        <li>Forward Galley</li>
                                        <li>Forward lavatory</li>
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#dash8100" role="button" aria-expanded="false" aria-controls="dash8100">
                        <img class="card-img-top" src="/assets/images/fleet/bombardier-dash-8-100.jpg" alt="Card image cap">
                        <div class="collapse" id="dash8100">
                            <div class="card-body">
                                <div class="card-title"><b>Bombardier Dash 8-100</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turboprop engine: 1800 SHP per engine<br>
                                        Free turbine, reverse flow: PW120A<br>
                                        Pressurized cabin class: 3 Crew 37 Passengers<br>
                                    </p>
                                    <p>
                                        Maximum Speed: 269 knots / 497 km/h<br>
                                        Average Cruise: 238 knots / 440 km/h<br>
                                        Minimum stall speed: 72 knots / 135 km/h<br>
                                    </p>
                                    <p>
                                        Maximum Operating Altitude: 25 000’<br>
                                        Max climb rate: 2500’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 5678lbs / 3210 litres<br>
                                        Average fuel Consumption: 600 litres per hour<br>
                                        Maximum range: 1000nm / 1800km<br>
                                    </p>
                                    <p>     
                                        Minimum take off run: 800 meters<br>
                                        Minimum landing run: 600 meters<br>
                                    </p>
                                    <p>        
                                        Ramp Weight: 34500 lbs / 15650 kg<br>
                                        Empty Weight: 23040 lbs / 10454 kg<br>
                                        Payload: 11254 lbs / 5105 kg<br>
                                    </p>
                                    <p>    
                                        Wing Span: 84’ 11” / 25.9 meters<br>
                                        Length: 73’ / 22.3 meters<br>
                                        Height: 24’ 7” / 7.5 meters<br>
                                    </p>
                                    <p>        
                                        Cargo door size: 50”x60” / 1.27x1.52 meters<br>
                                        Cabin height internal: 6’2” / 1.88 meters<br>
                                    </p>        
                                    <p>
                                        Seat pitch: 31”<br>
                                        Seat width: 17”<br>                                    
                                    </p>
                                    <p>
                                        Equipment:
                                    </p>
                                    <ul>
                                        <li>Overhead luggage stowage</li>
                                        <li>Forward Galley</li>
                                        <li>Forward lavatory</li>                                
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" data-toggle="collapse" href="#beechCraft1900D" role="button" aria-expanded="false" aria-controls="beechCraft1900D">
                        <img class="card-img-top" src="/assets/images/fleet/beechcraft-1900D.jpg" alt="Card image cap">
                        <div class="collapse" id="beechCraft1900D">
                            <div class="card-body">
                                <div class="card-title"><b>Beechcraft 1900D</b></div>
                                <div class="card-text">
                                    <p>
                                        Twin turboprop engines: 1279 SHP per engine<br>
                                        Free turbine, reverse flow: PT6A-67D<br>
                                        Pressurized cabin class: 2 Crew 19 Passengers<br>                                 
                                    </p>
                                    <p>
                                        Maximum Speed: 284 knots / 525 km/h<br>
                                        Average Cruise: 246 knots / 455 km/h<br>
                                        Minimum stall speed: 72 knots / 135 km/h<br>
                                    </p>     
                                    <p>
                                        Maximum Operating Altitude: 25 000’<br>
                                        Single engine ceiling (MAUW): 21 000’<br>
                                        Max climb rate: 3000’ per min<br>
                                        Single engine climb rate: 1000’ per min<br>
                                    </p>
                                    <p>
                                        Fuel Capacity: 4484lbs / 2500 litres<br>
                                        Average fuel Consumption: 420 litres per hour<br>
                                        Maximum range: 1400nm / 2500km<br>
                                    </p>
                                    <p>
                                        Minimum take off run: 1000 meters<br>
                                        Minimum landing run: 1000 meters<br>
                                    </p>
                                    <p>
                                        Ramp Weight: 17120 lbs / 7760 kg<br>
                                        Empty Weight: 10210 lbs / 4630 kg<br>
                                        Payload: 6910 lbs / 3135 kg<br>
                                    </p>
                                    <p>
                                        Wing Span: 57’ 11” / 17.6 meters<br>
                                        Length: 57’ 10” / 17.6 meters<br>
                                        Height: 14’ 10” / 4.6 meters<br>
                                        Cargo door size: 49”x52” / 1.25x1.32 meters<br>
                                    </p>
                                    <p>
                                        Equipment:
                                    </p>
                                    <ul>
                                        <li>Standard IFR package including 4 screen EFIS</li>
                                        <li>IFR GPS</li>
                                        <li>Colour Radar</li>
                                        <li>Radar Altitude</li>
                                        <li>406 ELT</li>
                                        <li>TCAS II</li>
                                        <li>Flight data recorder</li>
                                        <li>Cockpit voice recorder</li>
                                        <li>Enhanced Ground Proximity Warning System</li>
                                        <li>HF Radio</li>
                                        <li>Satellite Tracking</li>
                                        <li>Known Ice</li>
                                        <li>Cargo door</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->