<div class="backdrop">
    <div class="container about-container">
        <div class="jumbotron">
            <div class="row">
                <h2>About Us</h2>                
            </div>
            <div class="row mt-2">
                <p>
                    CemAir is a licensed International and Domestic Scheduled and Non-Scheduled air carrier with approval from the South African Department of Transport and Civil Aviation Authority to conduct operations throughout Africa and the Middle East as a Part 121 and 135 Operator. In addition CemAir is a licensed Part 145 Maintenance and Repair Organisation with in house capabilities to maintain all of our own aircraft.
                </p>
                <p>
                    CemAir (Pty) Ltd is a privately owned, limited liability company, established in 2005 and incorporated under the laws of South Africa. The company’s headquarters are at OR Tambo International Airport in Johannesburg from where the operational, maintenance and administrative functions are controlled. This facility consists of an 1800 sq.m. hangar, offices and a 2000 sq.m private apron and is the support hub for our operations.
                </p>
                <p>
                    CemAir currently owns and operates a large fleet of twelve CRJ 100/200 LR Airliners, nine Beech 1900D aircraft, two Dash-8 Q300’s and one Dash-8 100.
                </p>
                <p>
                    The management structure of the company conforms to the ICAO model (International Civil Aviation Organisation) and has six full-time post holders for complete oversight of flight operations and maintenance. The duties and responsibilities of each position is documented with frequent internal and external audits to ensure compliance. The organisation runs an ICAO based Safety Management System (SMS) conforming to the requirements of ICAO Safety Management Standards & Recommended Practises (SARPs) and ICAO Doc 9859. The maintenance department consists of a Chief Inspector who oversees the workforce of licensed AMEs (Aircraft Maintenance Engineers) who hold the requisite CAA and FAA A&P licenses, a parts store and all the infrastructure required to support his team.
                </p>
                <p>
                    CemAir has numerous industry approvals and certifications which previously included a long standing BARS certification (the Flight Safety Foundation’s Basic Aviation Risk Standard). CemAir completed the IOSA Safety Audit (IATA Operational Safety Audit) in October 2016 and will be IOSA certified in the first quarter of 2017. The IOSA programme is an internationally recognized and accepted evaluation system designed to assess and uphold the standards of operational management and control systems within an airline. The IOSA Standard is arguably the most recognised and respected safety assessment standard in aviation and there are currently more than 400 airlines on the IOSA registry worldwide.
                </p>
                <p>
                    Cemair has experience in operating and supporting its own our aircraft in a variety of conditions, with an emphasis on maintaining first world standards in third world environments. The company strives to achieve high levels of reliability through the application of constantly evolving internationally recognized standards. The company has operating and leasing experience throughout Africa and the Middle East, including Afghanistan, Tunisia, Libya, Sudan, South Sudan, Nigeria, Democratic Republic of Congo, Kenya, Mali, Gabon, Ghana, Tanzania, Namibia, Botswana, Mozambique, Madagascar and South Africa.
                </p>
                <p>
                    Where CemAir sets itself apart is in its ability to offer superior support for its operation. This is achieved through a multifaceted approach with the objective of creating a comprehensive offering. Some of the elements of this philosophy include:
                </p>
                <ul>
                    <li>Implementation of the IOSA operating standard</li>
                    <li>Adequate number of qualified personnel</li>
                    <li>Focus on limited number of aircraft types</li>
                    <li>Full in-house spares support for the fleet</li>
                    <li>Documented and implemented procedures for all aspects of the operation</li>
                    <li>A healthy learning culture and embracing the philosophy of continuous improvement</li>
                    <li>A progressive safety environment incorporating the ICAO concept of “non-punitive reporting” and embracing individual and collective accountability</li>
                </ul>
            </div>
            <div class="row mt-5">
                <h2>Reliability and Safety</h2>
                <hr>
            </div>
            <div class="row mt-2">
                <p>
                        An intrinsic element of CemAir’s philosophy is that the Company is ultimately accountable to its passengers, its staff and any people on the ground over whom its aircraft flies. We take this responsibility very seriously and we have created a structure, systems and processes designed to minimise all elements of this risk. CemAir has incorporated the following into the organisation:
                </p>
                <ul>
                    <li>Fleet selection of safe, well supported and reliable aircraft</li>
                    <li>Dedicated full time Quality and Safety personnel providing operational oversight</li>
                    <li>Stable, experienced and motivated team</li>
                    <li>Full in-house spares support for the fleet</li>
                    <li>Maintenance to the highest standards by CemAir’s own Aircraft Maintenance Organisation (AMO)</li>
                    <li>A healthy learning culture and embracing the philosophy of continuous improvement</li>
                    <li>Overhaul work for both propellers and engines is only performed by facilities that are both manufacturer and FAA approved</li>
                    <li>Maintenance tracking data are provided by a sophisticated on-line application</li>
                    <li>Satellite tracking on all aircraft</li>
                    <li>Financial stability with continuing reinvestment in the operation</li>
                </ul>
                <p>
                    We have a long term philosophy at CemAir and believe that solid relationships built today will support our operation in the future. High standards, discipline and constant learning are the cornerstones of the organisation.
                </p>
            </div>
            <div class="row mt-5">
                <h2>International Standard</h2>
                <hr>
            </div>
            <div class="row mt-2">
                <p>
                    Our focus is on reliability, safety and quality using constantly evolving internationally recognized standards. These standards exceed those laid down by regulatory authorities and have been compiled by a combination of inputs from oil, gas & petroleum exploration companies, humanitarian aid agencies, FAR Regulations, EASA requirements, ICAO recommendations and aircraft operators themselves. The exacting audit processes and subsequent certification which are undergone voluntarily by ourselves go a long way to ensuring a high level of confidence that users of our aircraft and services have every right to expect.
                </p>
                <p>
                    CemAir completed the <a href="http://www.iata.org/whatwedo/safety/audit/iosa/Pages/index.aspx" target="_blank">IOSA</a> Safety Audit (IATA Operational Safety Audit) in October 2016 and will be IOSA certified in the first quarter of 2017.
                </p>
            </div>
        </div>
    </div>
</div>